# Mac OS System Files
.DS_Store

# Fetched repo
thinx-connect

# Private Scripts
sonar.sh

# Dynamic Dependencies
node_modules

# Scan Temp
.scannerwork

# Mock Data
./dvna

# Contains Secret Repo Token
.coveralls.yml

# Temp Files
.nyc_output/
.secret.sh
coverage/
dvna/
lcov.info
